@import url("https://use.typekit.net/xqk7xbc.css");

html, body {
  font-family: bd-geminis, sans-serif;
  background: black;
}

* {
  box-sizing: border-box;
}

em {
  font-style: italic;
}

@media (min-width: 640px) {
  section {
    height: 100vh;
  }
}
